<!DOCTYPE html>
<html>

  <head>

    <title>Jeremy L. Shepherd | File Metadata Microservice API</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
        <div class="container">
            <h1 class="header">
                API Basejump: File Metadata Microservice
            </h1>
            <blockquote>
                <h3>User Stories:</h3>
                <ul>
                  <li>
                     I can submit a FormData object that includes a file upload.
                  </li>
                  <li>
                    When I submit something, I will receive the file size in bytes within the JSON response.
                  </li>
                </ul>
            </blockquote>
            <form class="form-group" id="testForm" action="/size" method="post" enctype="multipart/form-data">
              <label for="testInput">Upload file to see size</label>
              <input type="file" class="form-control" id="testInput" name="size"/>
              <button type="submit" class="btn btn-primary" onClick="">Submit</button>
            </form>
            <p style="color:white">Go to '/files' to see a list of uploaded files.</p>
        </div>
        <script src="uploads/starter.js"></script>
    </body>

</html>
